* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "IBM Plex Sans", sans-serif;
}

.mobile-only {
  display: none;
}

.container {
  margin: 0 auto;
}

.primerbotonera {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}


.logo {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: blue;
  font-size: .8em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.menu {
  display: flex;
}

.menu > div {
  font-size: 16px;
  font-family: "IBM Plex Mono", monospace;
  margin-left: 50px;
  font-weight: 500;
}

.titulo {
  padding-left: 200px;
}

.titulo p {
  font-family: "IBM Plex Mono", monospace;
}

.titulo h1 span {
  color: blue;
}

h1 {
  padding-top: 120px;
  font-size: 64px;
}

p {
  font-size: 16px;
  word-spacing: 12px;
}

.segundalinea {
  padding-bottom: 56px;
}

.green {
  color: rgba(6, 10, 36, 1);
  background-color: rgba(0, 243, 187, 1);
  border: none;
  font-size: 18px;
  width: 226px;
  height: 56px;
}

.episodios {
  display: flex;
  flex-direction: column;
  clip-path: polygon(0 16%, 100% 0%, 100% 84%, 0% 100%);
  background-image: linear-gradient(to right, rgb(0, 68, 255), rgb(3, 3, 175));
}

h3 {
  padding-top: 200px;
  font-size: 42px;
  color: rgba(255, 255, 255, 1);
  padding-left: 200px;
  padding-bottom: 30px;
}

.podcast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 200px;
}

.podcast img {
  width: 45%;
  margin-bottom: 50px;
}

.celular {
  display: flex;
  margin-bottom: -100px;
}

.imagencelular {
  width: 50%;
  position: relative;
}

div .imagencelular > img {
  height: 600px;
  position: relative;
  transform: translate(75%, -25%);
}

.dedondevenimos {
  width: 50%;
  height: 100%;
}

.dedondevenimos p {
  font-family: "IBM Plex Mono", monospace;
}

h2 {
  font-size: 48px;
  padding-top: 20.4px;
}

div .dedondevenimos > p {
  font-size: 16px;
  line-height: 24px;
  word-spacing: 0.1px;
  padding-top: 24px;
  padding-right: 256px;
  letter-spacing: 0;
}

.invitadas {
  width: 100%;
  font-size: 48px;
  padding-left: 200px;
  padding-top: 64px;
  padding-bottom: 36px;
}

.blancoynegro {
  display: flex;
  flex-wrap: wrap;
}

.blancoynegro > img {
  width: calc(100% / 3);
}

.temas {
  padding: 100px 0;
}

.titulotemas {
  font-size: 48px;
  padding-left: 200px;
}

.icons {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  width: 70%;
  margin: 0 auto;
}

.temas p {
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: 800;
}

.icon {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.novedades {
  width: 100%;
  padding: 150px 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
  background-image: linear-gradient(to right, rgb(0, 68, 255), rgb(3, 3, 175));
}

.queres {
  font-size: 48px;
  color: white;
}

.botonfinal {
  color: rgba(6, 10, 36, 1);
  background-color: rgba(0, 243, 187, 1);
  border: none;
  font-size: 18px;
  width: 345px;
  height: 56px;
  font-weight: 900;
  margin-top: 36px;
}

.piefinal {
  width: 100%;
  display: flex;
  padding: 40px;
  align-items: center;
  justify-content: space-between;
}

.fecha {
  height: 100%;
  width: 50%;
  font-size: 18px;
  font-family: "IBM Plex Mono", monospace;
}

.ultimosiconos {
  display: flex;

  align-items: center;
}

.tres img {
  width: 20px;
  margin-left: 40px;
}

button {
  font-family: "IBM Plex Mono", monospace;
}

@media screen and (max-width: 420px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
  .primerbotonera {
    padding: 0 20px;
    height: 70px;
  }
  .titulo {
    padding: 30px 30px 50px;
  }
  .titulo h1 {
    padding-top: 50px;
    font-size: 42px;
    margin-bottom: 20px;
  }
  .titulo button {
    width: 100%;
  }
  .episodios {
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
    padding: 100px 30px 250px;
  }
  .episodios h3 {
    padding: 30px 0;
  }
  .episodios .podcast {
    flex-direction: column;
    width: 100%;
    padding-bottom: 0;
  }
  .episodios .podcast img {
    width: 100%;
    margin-bottom: 30px;
  }
  .celular {
    flex-direction: column;
    padding: 0 30px;
    margin-bottom: 0;
  }
  .celular > div {
    width: 100%;
  }
  .celular .imagencelular img {
    transform: translate(0, -25%);
  }
  .celular .dedondevenimos {
    margin-top: -100px;
  }
  .celular .dedondevenimos h2 {
    font-size: 42px;
  }
  .celular .dedondevenimos p {
    padding: 30px 0;
  }
  .fotos .invitadas {
    font-size: 42px;
    padding: 30px 0 30px 30px;
  }
  .fotos img {
    width: 100%;
  }
  .temas {
    padding: 30px;
  }
  .temas .titulotemas {
    padding:  0;
  }
  .temas .icons {
    flex-direction: column;
  }
  .temas .icons .icon {
    margin-bottom: 60px;
  }
  .novedades {
    padding-top: 0;
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
  }
  .novedades .queres {
    padding-top: 100px;
    font-size: 42px;
    text-align: center;
  }
  .piefinal {
    flex-direction: column;
  }
  .piefinal .fecha {
    width: unset;
    margin-bottom: 20px;
  }
  .piefinal .ultimosiconos img{
    margin: 0 20px;
  }
  .menu {
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, rgb(0, 68, 255), rgb(3, 3, 175));
    z-index: 5;
    left: 100%;
    top: 0;
    color: white;
    transition: .5s ease;
    justify-content: center;
  }
  .menu div {
    font-size: 24px;
    margin-bottom: 30px;
  }
  label {
    position: fixed;
    z-index: 7;
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
  }
  label span {
    position: absolute;
    width: 100%;
    height: 3px;
    display: block;
    background: black;
    border-radius: 5px;
    transition: .5s ease;
  }
  label span:nth-child(1) {
    top: 5px;
    left: 0;
    transform-origin: top left;
  }
  label span:nth-child(2) {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
  label span:nth-child(3) {
    bottom: 5px;
    left: 0;
    transform-origin: bottom left;
  }
  input:checked ~ label span:nth-child(1) {
    transform: rotate(45deg);
    width: 90%;
    background-color: white;
  }
  input:checked ~ label span:nth-child(2) {
    opacity: 0;
  }
  input:checked ~ label span:nth-child(3) {
    transform: rotate(-45deg);
    width: 90%;
    background-color: white;
  }
  input:checked ~ .menu {
    left: 0;
  }

}